{% extends 'main/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form action="{% url 'users:register' %}" method="post" class="mt-5 ">
    {% csrf_token %}
        <fieldset>
            <legend>Create Account - Chat App</legend>
            {{ form|crispy }}
            <p>Already created an account? <a href="{% url 'users:login' %}">Log In</a></p>
            <button type="submit" class="btn btn-primary">Create Account</button>
        </fieldset>
    </form>
{% endblock content %}